@model PF_Pach_OS.Models.Proveedore

@{
    ViewData["Title"] = "Create";
    Layout = null;
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" id="formulario" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nit" class="control-label"></label>
                <input asp-for="Nit" class="form-control" required />
                <div class="invalid-feedback">
                    Por favor ingrese una cantidad.
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
                <span asp-validation-for="Nit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomLocal" class="control-label">Nombre Local</label>
                <input asp-for="NomLocal" class="form-control" required />
                <div class="invalid-feedback" id="nomlocal-feedback">
                    Por favor rellene el campo.
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
                <span asp-validation-for="NomLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" required/>
                <div class="invalid-feedback">
                    Por favor ingrese una cantidad.
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control"  required/>
                <div class="invalid-feedback">
                    Por favor ingrese el telefono
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" required />
                <div class="invalid-feedback">
                    Por favor ingrese el correo
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Crear</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#Nit').on('input', function () {
            validateNit();
        });

        $('#NomLocal').on('input', function () {
            validatenomLocal();
        });

        $('#Direccion').on('input', function () {
            validateDireccion();
        });
        $('#Telefono').on('input', function () {
            validateTelefono();
        });
        $('#Correo').on('input', function () {
            validateCorreo();
        });
        function validateNit() {
            var direccion = $('#Nit').val();
            if (direccion.trim() === '') {
                $('#Nit').removeClass('is-valid').addClass('is-invalid');
            } else {
                $('#Nit').removeClass('is-invalid').addClass('is-valid');
            }
        }
        function validateDireccion() {
            var direccion = $('#Direccion').val();
            if (direccion.trim() === '') {
                $('#Direccion').removeClass('is-valid').addClass('is-invalid');
            } else {
                $('#Direccion').removeClass('is-invalid').addClass('is-valid');
            }
        }
        function validateTelefono() {
            var telefono = $('#Telefono').val();
            if (telefono.trim() === '') {
                $('#Telefono').removeClass('is-valid').addClass('is-invalid');
            } else {
                $('#Telefono').removeClass('is-invalid').addClass('is-valid');
            }
        }
        function validateCorreo() {
            var correo = $('#Correo').val();
            if (correo.trim() === '') {
                $('#Correo').removeClass('is-valid').addClass('is-invalid');
            } else {
                $('#Correo').removeClass('is-invalid').addClass('is-valid');
            }
        }
        // function validateNomLocal() {
        //     var nomlocal = $('#NomLocal').val();
        //     if (correo.trim() === '') {
        //         $('#NomLocal').removeClass('is-valid').addClass('is-invalid');
        //     } else {
        //         $('#NomLocal').removeClass('is-invalid').addClass('is-valid');
        //     }
        // }

        function validatenomLocal() {
            var nomlocal = $('#NomLocal').val();
            var onlyLetters = /^[A-Za-z]+$/.test(nomlocal);
            var medidaFeedback = $('#nomlocal-feedback');

            if (nomlocal === '') {
                medidaFeedback.text('Por favor ingrese el nombre');
                $('#NomLocal').removeClass('is-valid').addClass('is-invalid');
            } else if (!onlyLetters) {
                medidaFeedback.text('No se aceptan números');
                $('#NomLocal').addClass('is-invalid');
            } else {
                medidaFeedback.text('');
                $('#NomLocal').removeClass('is-invalid').addClass('is-valid');
            }
        }
    });
</script>
@*-----VALIDACION DE LOS CAMPOS CUANDO SE LE DA AL BOTON DE AGREGAR-----*@
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
