################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PF_Pach_OS/appsettings.json
/PF_Pach_OS/Views/Productos/AAAA.cshtml
/PF_Pach_OS/Views/Productos/AAAA.cshtml.cs
PF_Pach_OS/obj/Debug/net6.0/staticwebassets.development.json
PF_Pach_OS/obj/Debug/net6.0/PF_Pach_OS.csproj.AssemblyReference.cache
PF_Pach_OS/obj/project.nuget.cache
PF_Pach_OS/obj/project.assets.json
PF_Pach_OS/obj/PF_Pach_OS.csproj.nuget.dgspec.json
PF_Pach_OS/obj/PF_Pach_OS.csproj.nuget.g.props
PF_Pach_OS/obj/Debug/net6.0/staticwebassets.pack.json
PF_Pach_OS/obj/Debug/net6.0/project.razor.vs.json
PF_Pach_OS/obj/Debug/net6.0/staticwebassets.build.json
PF_Pach_OS/obj/Debug/net6.0/PF_Pach_OS.pdb
PF_Pach_OS/obj/Debug/net6.0/PF_Pach_OS.genruntimeconfig.cache
PF_Pach_OS/obj/Debug/net6.0/PF_Pach_OS.GeneratedMSBuildEditorConfig.editorconfig
PF_Pach_OS/obj/Debug/net6.0/PF_Pach_OS.dll
PF_Pach_OS/obj/Debug/net6.0/PF_Pach_OS.csproj.CoreCompileInputs.cache
PF_Pach_OS/obj/Debug/net6.0/PF_Pach_OS.assets.cache
PF_Pach_OS/bin/Debug/net6.0/PF_Pach_OS.staticwebassets.runtime.json
PF_Pach_OS/bin/Debug/net6.0/PF_Pach_OS.pdb
PF_Pach_OS/.vs/ProjectEvaluation/pf_pach_os.metadata.v6.1
PF_Pach_OS/.vs/ProjectEvaluation/pf_pach_os.projects.v6.1
PF_Pach_OS/bin/Debug/net6.0/PF_Pach_OS.dll
PF_Pach_OS/.vs/PF_Pach_OS/v17/fileList.bin
PF_Pach_OS/.vs/PF_Pach_OS/v17/.suo
PF_Pach_OS/.vs/PF_Pach_OS/v17/.futdcache.v2
PF_Pach_OS/.vs/PF_Pach_OS/FileContentIndex/f839585f-a80e-4e00-9e1e-b8e87430c0b7.vsidx
PF_Pach_OS/.vs/PF_Pach_OS/FileContentIndex/ee14c5e6-6da6-43c0-9cc4-8b6e55f4dbad.vsidx
PF_Pach_OS/.vs/PF_Pach_OS/FileContentIndex/8690c21c-a923-4aba-90b1-9a4507757766.vsidx
PF_Pach_OS/.vs/PF_Pach_OS/FileContentIndex/8c5c7be2-82d5-4d16-b7d5-44785fda100a.vsidx
PF_Pach_OS/.vs/PF_Pach_OS/FileContentIndex/85e5ffdc-42ab-4c39-8550-0145b750184a.vsidx
PF_Pach_OS/.vs/PF_Pach_OS/FileContentIndex/839ce05c-cd1e-4d20-bd6c-aa45dc2150a5.vsidx
PF_Pach_OS/.vs/PF_Pach_OS/FileContentIndex/6fdc5161-39fc-429d-8516-ed7662a8fabb.vsidx
PF_Pach_OS/.vs/PF_Pach_OS/FileContentIndex/237bf206-8fe2-4f68-afff-dff6d1f781b9.vsidx
PF_Pach_OS/.vs/PF_Pach_OS/DesignTimeBuild/.dtbcache.v2