input[type=checkbox] {
    visibility: hidden;
}

/* SLIDE THREE */
.slideThree {
    width: 145px;
    height: 26px;
    background: #FFF;
    margin: 20px auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

    .slideThree:after {
        content: 'Pendiente';
        font: 12px/26px Arial, sans-serif;
        position: absolute;
        color: red;
        right: 10px;
        z-index: 0; 
        font-weight: bold;
        text-shadow: 1px 1px 0px rgba(255,255,255,.15);
    }

    .slideThree:before {
        content: 'Pagada';
        font: 12px/26px Arial, sans-serif;
        color: #00bf00;
        position: absolute;
        left: 10px;
        z-index: 0;
        font-weight: bold;
    }

    .slideThree label {
        display: block;
        width: 70px;
        height: 20px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        -ms-transition: all .4s ease;
        transition: all .4s ease;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        background: #fcfff4;
        background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    }

    .slideThree input[type=checkbox]:checked + label {
        left: 70px;
    }

/*Responsivo con maximo de ancho de 414px*/
/*@media only screen and (max-width: 414px) {
    input.buscador {
        top: -11vh;
        left: 3vw;
        width: 90%;
    }

    .estilo-btn-naranja {
        top: -7vh !important;
        left: 3vw !important;
        width: 90%;
    }

    .filtroEstado {
        top: -6vh;
        left: 25vw;
    }
     Ajustar la tabla 
    .table {
        font-size: 16px;
    }

     Ajustar tamaño de cuadro grande blanco 
    .modulos {
        position: relative;
        top: 50px;
        left: -4vh;
        height: 80vh !important;
    }

     Ajustar tabla
    .table td, .table th {
        padding: 4px;  Reducir el espaciado entre celdas 
    }

     Ocultar las columnas de Metodo pago, pago y pagoDomicilio 
    td:nth-child(3),  Columna de Metodo pago 
    th:nth-child(3),
    td:nth-child(5),  Columna de pago 
    th:nth-child(5),
    td:nth-child(6),  Columna de pagoDomicilio 
    th:nth-child(6) {
        display: none;
    }

    svg {
        width: 1em
    }
}*/

/*Responsivo con maximo de ancho de 540px*/
@media only screen and (max-width: 540px) {
    input.buscador {
        top: -11vh !important;
        left: 3vw;
        width: 90%;
    }
        input.buscador:focus{
            width: 92%;
        }

    .estilo-btn-naranja {
        top: -4vh !important;
        left: 4vw !important;
    }

    .filtroEstado {
        top: -6vh !important;
        left: 60vw !important;
    }
    /* Ajustar la tabla */
    .table {
        font-size: 16px;
    }

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        position: relative;
        top: 50px;
        left: -4vh;
        height: 80vh !important;
    }

    /* Ajustar tabla*/
    .table td, .table th {
        padding: 4px; /* Reducir el espaciado entre celdas */
    }

    /* Ocultar las columnas de Metodo pago, pago y pagoDomicilio */
    td:nth-child(3), /* Columna de Metodo pago */
    th:nth-child(3),
    td:nth-child(5), /* Columna de pago */
    th:nth-child(5),
    td:nth-child(6), /* Columna de pagoDomicilio */
    th:nth-child(6) {
        display: none;
    }

    svg {
        width: 1.5em
    }
}

/*Responsivo con maximo de ancho de 820px*/
/*@media only screen and (max-width: 820px) {
    input.buscador {
        top: -3vh !important;
        left: 70vw;
    }

    .estilo-btn-naranja {
        top: -3vh !important;
    }

    .filtroEstado {
        top: -4.5vh;
        left: 39vw;
    }
     Ajustar la tabla 
    .table {
        font-size: 16px;
    }

     Ajustar tamaño de cuadro grande blanco 
    .modulos {
        position: relative;
        left: -4vh;
        height: 80vh !important;
    }

     Ajustar tabla
    .table td, .table th {
        padding: 4px;  Reducir el espaciado entre celdas 
    }


    td:nth-child(6),  Columna de pagoDomicilio 
    th:nth-child(6) {
        display: none;
    }

    svg {
        width: 1.5em
    }

    .fas .fa-bars {
        position: relative;
        left: 10vw;
    }
*/