
/*#myModal {
}

.modal-content {
    background-color: #fff;*/ /* Color de fondo de la modal */
    /*border-radius: 10px;*/ /* Borde redondeado */
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/ /* Sombra */
/*}

.modal-header {
    border-radius: 10px 10px 0 0;*/ /* Borde redondeado solo en la parte superior */
/*}

    .modal-header .close {
        color: #000000;*/ /* Color del botón de cierre */
    /*}*/
