body {
}
.h2{
    text-align:center;
}

.modal-title {
    text-align: left;
}
@media (max-width: 767px) {
    .estilo-btn-naranja {
        position: relative !important;
        top: -50px !important;
        left: 13vh !important;
    }
    .modulos {
        margin-left: 2em;
        position: relative;
        top: 50px;
        left: -2.5vh;
        height: 80vh !important;
        min-height: 80rem;
    }
    .buscador {
        margin-left: 2em;
        position: relative;
        top:-85px;
        left:-9vh;
    }
    table {
        top: 5px;
        overflow-x: auto;
    }
    .table td, .table th {
        top:50px;
        padding: 4px; /* Reducir el espaciado entre celdas */
    }
    th.Dirección,
    td.Dirección,
    th.Teléfono,
    td.Teléfono {
        display: none;
    }
}