@{
    ViewData["Title"] = "CambiarContraseña";

}
<link href="~/css/usuarios/cambiarcontraseña.css" rel="stylesheet" />
<div class="container d-flex justify-content-center w-50">
    <div class="w-60 border p-3 align-items-center contenedor-login">
        <form id="CambioContraseña" class="form-group" asp-action="ConfirmarCambiarContraseña" asp-controller="AspNetUsers">

            <div>
                <label class="form-label">Antigua Contraeña</label>

                <input id="AntiguaContraseña" class="form-control" value="" type="password" />
                <span id="mensaje_AntiguaContraseña" class="invalid-feedback"></span>
            </div>

            <div>
                <label class="form-label">Nueva Contraeña</label>
                <input id="NuevaContraseña" class="form-control" type="password" />
                <span id="mensaje_NuevaContraseña" class="invalid-feedback"></span>

            </div>

            <div>
                <label class="form-label">Confirma Nueva Contraeña</label>
                <input id="ConfirmarContraseña" class="form-control" type="password" />
                <span id="mensaje_ConfirmarContraseña" class="invalid-feedback"></span>

            </div>

            <button type="submit" class="w-100 btn botones-agregar text-light mt-4">Confirmar</button>


        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/usuarios/cambiarcontraseña.js"></script>

