@{
    ViewData["Title"] = "ConfirmarCambiarContraseña";

}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; margin-right:auto">
    <h1 class="display-3">Se cambió la contraseña</h1>
</div>