@model PF_Pach_OS.Models.Asignar_Permisos

@{

    Layout = null;
}

<h2>Crear Rol</h2>
<link href="~/css/RolPermisos/CreaEditar.css" rel="stylesheet" />


<hr />
<div>
    <div class="col-12">
        <form id="formulario1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="rol.NomRol" class="control-label">Nombre del rol * </label>
                <input type="text" class="form-control" id="nomrol" asp-for="rol.NomRol" />
                <span id="mensaje_nombre" class="invalid-feedback"></span>
            </div>

            <div class="form-group flex-row">
                <div class="form-group">
                    <label class="control-label">Permisos *</label>

                    @if (ViewBag.Permisos != null)
                    {
                        <div class="row">
                            @foreach (var valor in (List<dynamic>)ViewBag.Permisos)
                            {
                                <div class="form-check form-switch justify-content-between col-6">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">@valor.nom_permiso</label>
                                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" name="ValoresSeleccionados" value="@valor.id_permiso" />
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p>La lista de permisos es nula.</p>
                    }
                </div>


                <button type="submit" id="btnEnviar" class="btn estilo-btn-naranja">Crear Rol</button>

        </form>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/rolpermisos/crear.js"></script>