@model IEnumerable<PF_Pach_OS.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn-crear-posicion estilo-btn-naranja" id="Crear-rol" data-toggle="modal" data-target="#Modal">
    Crear Rol
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Roles</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NomRol)
                </td>
                @if (item.IdRol != 1)
                {
                    <td>
                        <button id="Editar-rol" data-toggle="modal" data-target="#Modal" data-id="@item.IdRol">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                            </svg>
                        </button>
                        <a asp-action="Delete" asp-route-id="@item.IdRol">Delete</a>

                        <a asp-action="Details" asp-route-id="@item.IdRol">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                Cargando Venta...
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/RolPermisos/Index.js"></script>
