@using Microsoft.AspNetCore.Identity;
@model Tuple<IdentityRole, List<IdentityRole>>;

@{
    ViewData["Title"] = "Roles";

}

<h1>Roles</h1>

<div>
    <form asp-controller="Roles" asp-action="CrearRol" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Item1.Name">Nombre</label>
            <input asp-for="Item1.Name" name="Name">
            <span asp-validation-for="Item1.Name" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-success" value="Enviar ">
    </form>
</div>

<table class="table table-warning">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
        
        
    </thead>
    <tbody>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name )</td>

            </tr>
        }
    </tbody>
</table>