
.top-4{
    top: 4vh;
}

.left-50{
    left: 50%
}
.buscador {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 5.8vh;
    right: 5vh;
    border-radius: 10px;
    transition: all 0.3s ease; /* Agregamos una transición para suavizar el cambio */
    border: none;
    text-align: center; /* Centrar el texto horizontalmente */
}

    /* Estilos cuando el campo de búsqueda está enfocado */
    .buscador:focus {
        width: 220px; /* Ancho ligeramente mayor */
        transform: translateX(10px); /* Desplazamiento hacia la derecha */
        box-shadow: 20px 0 20px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    }


.sombra {
    box-shadow: inset 0 0 10px #FACE75;
}

/*Responsivo con maximo de ancho de 280px*/
@media only screen and (max-width: 280px) {
    input.buscador {
        top: -13vh !important;
        left: 3vw;
        width: 90%;
    }
    .estilo-btn-naranja {
        top: -8vh !important;
        left: 3vw !important;
        width: 90%;
    }

    .filtroEstado{
        top: -7vh;
        left: 20vw;
    }
    /* Ajustar la tabla */
    .table {
        font-size: 12px;
    }

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        position: relative;
        top: 50px;
        left: -4vh;
        height: 80vh !important;
    }

    /* Ajustar tabla*/
    .table td, .table th {
        padding: 2px; /* Reducir el espaciado entre celdas */
    }

    /* Ocultar las columnas de Metodo pago, pago y pagoDomicilio */
    td:nth-child(3), /* Columna de Metodo pago */
    th:nth-child(3),
    td:nth-child(5), /* Columna de pago */
    th:nth-child(5),
    td:nth-child(6), /* Columna de pagoDomicilio */
    th:nth-child(6) {
        display: none;
    }

    svg{
        width: 1em
    }
}

/*Responsivo con maximo de ancho de 414px*/
@media only screen and (max-width: 414px) {
    input.buscador {
        top: -11vh !important;
        left: 3vw;
        width: 90%;
    }

    .estilo-btn-naranja {
        top: -7vh !important;
        left: 3vw !important;
        width: 90%;
    }

    .filtroEstado {
        top: -6vh;
        left: 25vw;
    }
    /* Ajustar la tabla */
    .table {
        font-size: 16px;
    }

    /* Ajustar tamaño de cuadro grande blanco */
    .modulos {
        position: relative;
        top: 50px;
        left: -4vh;
        height: 80vh !important;
    }

    /* Ajustar tabla*/
    .table td, .table th {
        padding: 4px; /* Reducir el espaciado entre celdas */
    }

    /* Ocultar las columnas de Metodo pago, pago y pagoDomicilio */
    td:nth-child(3), /* Columna de Metodo pago */
    th:nth-child(3),
    td:nth-child(5), /* Columna de pago */
    th:nth-child(5),
    td:nth-child(6), /* Columna de pagoDomicilio */
    th:nth-child(6) {
        display: none;
    }

    svg {
        width: 1em
    }
}

