.lista-proveedores {
    padding: 15px 0 0 15px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fullSize: 100%;
    --space-xl: 2rem;
    --space-l: 1.5rem;
    --space-m: 1.25rem;
    --space: 1rem;
    --space-ss: 0.75rem;
    --space-s: 0.5rem;
    --space-xs: 0.25rem;
    --fs-l: 1.4375rem;
    --fs-m: 1.25rem;
    --fs-default: 1rem;
    --fs-s: 0.9rem;
    --fs-xs: 0.875rem;
    --clr-default: #fff;
    --blue-accent100: #528ad3c0;
    --blue-accent200: #3599;
    --cyan: hsl(183deg 96% 56%);
    --anim-time--hi: 266ms;
    --anim-time--med: 400ms;
    --anim-time--lo: 600ms;
}

.card {
    --header-size--min: 12.75rem;
    --header-size--max: 19rem;
    --width: 13rem;
    --height: 22vh;
    --easing: cubic-bezier(0.5, 0, 0.2, 1);
    --easing1: cubic-bezier(0.4, 0.3, 0.65, 1);
    --easing2: cubic-bezier(0.8, 0, 0.6, 1);
    --easing3: cubic-bezier(0, 0.2, 0.25, 1);
    display: flex;
    flex-direction: column;
    inline-size: var(--width);
    block-size: var(--height);
    border-radius: 0.125em;
    background: #F6F6F6;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

    .card:hover {
        transition: all var(--anim-time--hi) var(--easing1);
        border: 0;
        box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
    }

header {
    /*display: flex;*/
    height: var(--header-size--max);
    /*position: relative;*/
    overflow: hidden;
    transition: transform var(--anim-time--med) ease;
    isolation: isolate;
    background-color: #543C33;
    color: #FFF;
}

    header::before,
    header::after {
        content: "";
        position: absolute;
        inset: 0;
        transition-property: opacity, transform;
        transition-duration: var(--anim-time--med), var(--anim-time--med);
        transition-timing-function: ease, ease;
    }

    header::before {
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.8) 0%, hsla(0, 0%, 0%, 0.7) 12%, hsla(0, 0%, 0%, 0.2) 41.6%, hsla(0, 0%, 0%, 0.125) 50%, hsla(0, 0%, 0%, 0.01) 59.9%, hsla(0, 0%, 0%, 0) 100%);
        opacity: 0;
        z-index: 4;
    }

    header::after {
        background-size: cover;
        background-position: 80%;
    }

.card__content:hover header {
    transform: translateY(calc(var(--header-size--min) - var(--header-size--max)));
}

    .card__content:hover header::after {
        transform: translateY(calc(var(--header-size--max) - var(--header-size--min))) scale(1.2);
    }

    .card__content:hover header::before {
        opacity: 0.8;
    }

.header__caption {
    z-index: 10;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: flex-end;
    gap: var(--space-xl);
    opacity: 0;
    transform: translateY(100%);
    transition: transform var(--anim-time--hi) linear, opacity var(--anim-time--hi) linear;
}

.card__content:hover .header__caption {
    transform: translateY(0);
    opacity: 1;
    transition: opacity var(--anim-time--hi) var(--easing), transform var(--anim-time--lo) var(--easing2);
}


.card__body {
    margin-inline: var(--space);
    /*height: calc(var(--header-size--max) - var(--header-size--min));*/
    height: 33%;
    padding-block-end: var(--space-s);
    transition: transform var(--anim-time--med) ease;
    font-family: "Poppins", sans-serif;
}

.card__content:hover .card__body {
    transform: translateY(calc(var(--header-size--min) - var(--header-size--max)));
}

.title--primary {
    font-size: var(--fs-l);
    font-weight: 400;
    color: #FFF;
    padding-block: var(--space-l) var(--space-s);
}

.card__content:hover .expand__indicator {
    opacity: 0;
    transition: opacity var(--anim-time--lo) var(--easing3);
}

@keyframes pulse {

    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }
}
