.info-arriba{
    display: flex;
}

.botones-detallesVentas{
    border: none;
    background-color: #fff;
}

.info-general{
    display:grid;
    grid-template-columns: repeat(2, 300px);
}

.lista-detalles{
    display: flex;
    justify-content: space-between;

}
    