@model ProductosMasMenosVendidosModel
<link href="~/css/informes/estilos.css" rel="stylesheet" />
<link href="~/css/estructuracion.css" rel="stylesheet" />
<button id="generarInforme" class="btn-crear-posicion estilo-btn-naranja btn-generar-informe" title="Genera el informe">Generar Informe</button>
<div class="card-header border-0">
    <div class="d-flex justify-content-between">
        <h3 class="card-title">Ventas</h3>
        <div class="input-container">
            <div>
                <label for="tipoInforme">Tipo de Informe:</label>
                <select id="tipoInforme">
                    <option value="mensual">Mensual</option>
                    <option value="anual">Anual</option>
                </select>
            </div>
            <div id="divMeses">
                <label for="mes">Selecciona un mes:</label>
                <select id="mes">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
            <div id="divAnios">
                <label for="anio">Selecciona un año:</label>
                <select id="anio">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <p class="d-flex flex-column">
                <span class="text-bold text-lg" id="totalVentasAnuales">$0.00</span>
                <span>Ventas a lo largo del tiempo</span>
            </p>
            <p class="ml-auto d-flex flex-column text-right">
                <span class="text-success">
                    <i class="fas fa-arrow-up"></i>
                    <span id="diferenciaVentasMesAnterior"></span>
                </span>
                <span class="text-muted">Desde el mes pasado</span>
            </p>
        </div>
        <!-- /.d-flex -->

        <div class="position-relative mb-4">
            <canvas id="sales-chart" height="200"></canvas>
        </div>

        <div class="d-flex flex-row justify-content-end">
            <span class="mr-2">
                <i class="fas fa-square " style="color: #FF9200;"></i> Este Año
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" >
            <table class="table table-bordered">
        <thead>
                 <tr class="estilo-btn-naranja text-custom">
                <th scope="col">Ingresos</th>
                <th scope="col">Costos</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                 <td id="celdainsumos">$0.00</td>
                 <td id="totalComprasAnuales">$0.00</td>
            </tr>
            <tr>
                 <td colspan="2" id="diferenciaVentasCompras">$0.00</td>
            </tr>
        </tbody>
    </table>
    </div>
        <div class ="col-md-4" >
        <table class="table table-bordered">
            <thead>
                        <tr class="estilo-btn-naranja text-custom custom-table">
                    <th scope="col">Compra Pizzerias</th>
                    <th scope="col">Compra Bebidas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$0,00</td>
                    <td>0,00</td>
                </tr>
                <tr>
                    <td colspan="2">Total =</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead>
                        <tr class="estilo-btn-naranja text-custom">
                        <th scope="col"">Productos Más Vendidos</th>
                        <th scope="col">Total</th>
                        <th scope="col">Productos Menos Vendidos</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pizza Hawuaiana</td>
                        <td>15</td>
                        <td>Perros</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Pizza Hawuaiana</td>
                        <td>15</td>
                        <td>Perros</td>
                        <td>15</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>


<!-- /.col-md-6 -->
@* <div c@* lass="col-lg-6">
    <div class="card">
        
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Products</h3>
                <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                    <thead>
                        <tr>
                            <th>Productos</th>
                            <th>Precio</th>
                            <th>Ventas</th>
                            <th>Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (Model != null && Model.ProductoMasVendido != null)
                            {
                                <td>@Model?.ProductoMasVendido?.IdProductoNavigation?.NomProducto</td>
                                <td>$@Model.ProductoMasVendido.Precio</td>
                                <td>@Model.ProductoMasVendido.CantVendida</td>
                                <td>Más Vendido</td>
                            }
                        </tr>
                        <tr>
                            <td>@Model?.ProductoMenosVendido?.IdProductoNavigation?.NomProducto</td>
                            <td>$@Model?.ProductoMenosVendido.Precio</td>
                            <td>@Model?.ProductoMenosVendido.CantVendida</td>
                            <td>Menos Vendido</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>

<!-- /.col-md-6 -->
<!-- Content Wrapper. Contains page content -->
@* <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                    <input type="date" id="fechaSeleccionada" name="trip-start" value="2023-01-01" min="2023-01-01" max="2050-12-31" />
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div> *@

<!-- /.content-wrapper -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/informe/informe.js"></script>