
.form-group.flex-row.align-items-center .form-check {
    display: flex !important;
    align-items: center !important;
}

.form-check-label {
    flex: 1 !important;
    margin-right: 10px !important;
    margin-left: 0 !important;
}
.form-check-input {
    flex: 1 !important;
    margin-left: 10px !important;
}
